@charset "UTF-8";
@font-face {
  font-family: "cheddar";
  src: url(../../public/police/Cheddar\ Gothic\ Sans.otf);
}
@font-face {
  font-family: "opendyslexic";
  src: url(../../public/police/OpenDyslexic-Regular.otf);
}
* {
  font-family: "opendyslexic", Arial, serif;
  color: black;
  text-decoration: none;
  background-color: transparent;
  margin: 0;
  border: none;
  list-style-type: none;
}

body {
  background-color: #F8EBCB;
}

header {
  background-color: #102832;
}
header .pc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}
header .pc a, header .pc nav, header .pc h1 {
  color: #F8EBCB;
}
header .pc h1 {
  font-family: "cheddar";
  font-size: 3em;
}
header .pc nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 25%;
}

footer {
  background-color: #102832;
}
footer nav {
  display: flex;
  flex-direction: row;
  margin-left: 3%;
}
footer nav li {
  margin-left: 3%;
}
footer nav li a {
  color: #F8EBCB;
}

.prog .button {
  margin-top: 5%;
  margin-left: 35%;
  padding: 0.5%;
  width: 30%;
  border: 3px solid #102832;
  box-shadow: 5px 5px 4px #0B717F;
  background-color: #F8EBCB;
  cursor: pointer;
}
.prog .button:hover {
  color: #0B717F;
}
.prog .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.prog .overlay:target {
  visibility: visible;
  opacity: 1;
}
.prog .popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}
.prog .popup h2 {
  margin-top: 0;
}
.prog .popup .close {
  transition: all 200ms;
  text-decoration: none;
  color: #333;
}
.prog .popup .close:hover {
  color: #0B717F;
}
.prog .popup .content {
  max-height: 30%;
  overflow: auto;
}
.prog form {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-bottom: 3%;
}
.prog form input {
  border: 3px solid #102832;
  width: 50%;
}
.prog .bouton {
  margin: 5%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.prog .bouton a, .prog .bouton button {
  size: 1em;
  margin-top: 3%;
  margin-left: 35%;
  padding: 1%;
  border: 3px solid #102832;
  box-shadow: 5px 5px 4px #0B717F;
  cursor: pointer;
}

.index .festival {
  margin: 3%;
}

.actualité {
  margin: 5%;
}
.actualité h2 {
  margin-bottom: 3%;
}
.actualité article {
  margin-bottom: 3%;
  padding: 1%;
  border: 3px solid #102832;
  box-shadow: 5px 5px 4px #0B717F;
}
.actualité article h3 {
  color: #D4566C;
}
.actualité article img {
  width: 15%;
  float: right;
}

.confidentialité {
  margin: 3%;
}

.contact {
  margin: 3%;
}
.contact h2 {
  color: #D4566C;
}
.contact .adress {
  margin-bottom: 3%;
  padding: 1%;
  border: 3px solid #102832;
  box-shadow: 5px 5px 4px #0B717F;
  width: 10%;
}
.contact form {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.contact form input, .contact form textarea {
  border: 3px solid #102832;
}
.contact form button {
  margin-top: 3%;
  margin-left: 35%;
  padding: 1%;
  width: 30%;
  border: 3px solid #102832;
  box-shadow: 5px 5px 4px #0B717F;
  cursor: pointer;
}

.infos {
  margin: 3%;
}
.infos h2 {
  color: #D4566C;
}
.infos img {
  width: 40%;
}

.Sprog {
  margin: 3%;
}
.Sprog .row {
  display: flex;
}
.Sprog .row .jour {
  margin: 3%;
  padding: 1%;
  border: 3px solid #102832;
  box-shadow: 5px 5px 4px #0B717F;
  width: 40%;
}
.Sprog .row .jour h3 {
  color: #D4566C;
}
.Sprog .row .jour img {
  width: 15%;
  float: right;
}
.Sprog .row .jour span {
  margin-bottom: 3%;
}

/*# sourceMappingURL=style.css.map */
