/*pop up*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    &:target{
        visibility: visible;
        opacity: 1;
    }  
    .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 50%;
        position: relative;
        transition: all 5s ease-in-out;
        h2 {
            margin-top: 0;
        }
        .content {
            max-height: 30%;
            overflow: auto;
            form{
                display: flex;
                flex-direction: column;
                margin-top: 3%;
                margin-bottom: 3%;
                input{
                    border: 3px solid $couleur-secondaire;
                    width: 50%;
                }
            }
        }  
        .bouton{
            margin: 5%;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            a{
                margin-top: 3%;
                margin-left: 35%;
            }
        }
    }
}





